h2 {
	margin-bottom: 15px;
}

td {
    img {
        width: 90%;
        border: 1px solid #141414;
        border-radius: 5px;
    }
    ul {
        margin: -7em 0 0 -2em;

        list-style-type: none;
        font-size: 2em;
    }
}
